
<footer class="container-fluid">
<div class="footer">
  <div class="footerIcons">
    <div class="iconOne">
      <a class = "hover" href="https://www.linkedin.com/in/arthur-kuivanen/"><img class = "logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/LinkedIn_logo_initials.png/600px-LinkedIn_logo_initials.png" alt="test"></a>
      <a class = "hover" href="https://github.com/Lightninthorman"> <img class = "logo" src="https://cdn2.iconfinder.com/data/icons/black-white-social-media/64/social_media_logo_github-512.png" alt="test"></a>
      <div class="footerTwo">
        <h5 class="footerTwo">Thor Kuivanen</h5>
      </div>
    </div>

    <!-- https://image.flaticon.com/icons/svg/25/25231.svg -->

    <div class="iconTwo">
      <a class = "hover" href="https://www.linkedin.com/in/troy-hancock/"><img class = "logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/LinkedIn_logo_initials.png/600px-LinkedIn_logo_initials.png" alt="test"></a>
      <a class = "hover" href="https://github.com/yortortle"> <img class = "logo" src="https://cdn2.iconfinder.com/data/icons/black-white-social-media/64/social_media_logo_github-512.png" alt="test"></a>
      <div class="footerTwo">
        <h5 class="footerTwo"> Troy Hancock</h5>
      </div>
    </div>

    <div class="iconThree">
      <a class = "hover" href="https://www.linkedin.com/in/richard-brown-94358439/"><img class = "logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/LinkedIn_logo_initials.png/600px-LinkedIn_logo_initials.png" alt="test"></a>
      <a class = "hover" href="https://github.com/rbrown29"> <img class = "logo" src="https://cdn2.iconfinder.com/data/icons/black-white-social-media/64/social_media_logo_github-512.png" alt="test"></a>
      <div class="footerTwo">
        <h5 class="footerTwo">Richard Brown</h5>
      </div>
    </div>
    </div>
    <div class="footerDivs">
      <p class="copyright">copyright @1995-2019 <br/>
      All rights reserved. Powered by General Assembly</p>
    </div>
  </div>
</footer>
